button {
  padding: 20px;
  width: 100px;
  cursor: pointer;
}

.Root {
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Item {
  cursor: grab;
}

.Item[data-dragging="true"] {
  transform: scale(1.02);
  box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25)
}

.Table {
  margin-top: 20px;
  display: table;

  tr {
    border: 1px solid #000;
  }

  th, td {
    border: 1px solid #000;
    padding: 10px;
  }
}